<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card color="primary">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contact</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Input</ion-label>
        <ion-input></ion-input>
      </ion-item>

    </ion-list>

    <ion-button  (click)="register()" expand="block"  shape="round">
      Register
    </ion-button>
  </ion-card>

  <p class="ion-margin">
    <ion-text>
      By pressing Sign Up, you agree to the service's
      <a href="http://">Terms of Service</a>
      and
      <a href="http://">Privacy Policy</a>
    </ion-text>
  </p>

  


</ion-content>
