<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Wallet Balance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Balance</ion-label>
      <ion-label class="ion-float-right">4200</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>Gst Registration</h2>
         <ion-label>23-Aug-2022</ion-label>
      </ion-label>
      <ion-note color="success">+4200</ion-note>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>Money Withdrawal</h2>
         <ion-label>23-Aug-2022</ion-label>
      </ion-label>
      <ion-note color="danger">-2200</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
