<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{'bottomTabs.services' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >


  <ng-container *ngIf="services.length <= 0">
    <ion-item class=" service-item ion-padding-vertical" *ngFor="let data of [ '','','','','' ]" lines="none">
      <ion-icon slot="start" color="success" name="arrow-forward-outline"></ion-icon>
      <ion-label class="ion-text-uppercase ion-no-margin">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ng-container>
  
 


  <ion-item class=" service-item ion-padding-vertical" *ngFor="let service of services" lines="none">
    <ion-icon slot="start" color="success" name="arrow-forward-outline"></ion-icon>
    <ion-label class="ion-text-uppercase ion-no-margin">
       {{ service.name }}
    </ion-label>
  </ion-item>

</ion-content>
