<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Apperance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group name="auto" value="tesla">
      <ion-list-header>
        <ion-label>Mode</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Dark</ion-label>
        <ion-radio [value]="true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Light</ion-label>
        <ion-radio [value]="false"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>
